@font-face {
  font-family: Merriweather;
  src: url("../fonts/Meriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: open-sans;
  src: url("../fonts/open-sans/OpenSans-Regular.ttf");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: "open-sans", Arial;
  --ff-secondary: "Merriweather", monospace;
  --fw-regular: 100;
  --fw-bold: 900;

  --clr-light: #ffffff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.1;
  margin: 0;
}

/* Typography */

section {
  padding: 5em 2em;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.logo__img {
  width: 5rem;
  height: 2rem;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-regular);
  margin-bottom: 0em;
}

.section__title--intro strong {
  font-weight: bold;
  display: block;
}

.section__subtitle {
  font-size: var(--fs-h3);
  margin: 0;
}

.section__subtitle--intro,
.section__subtitle--about {
  background-color: var(--clr-accent);
  font-family: var(--ff-secondary);
}

/* Intro section */

nav {
  display: none;
}

.intro {
  position: relative;
}
